{% extends "base/index.html" %}

{% block extra_body %}
<div id="shipping"></div>
<div id="hot-product"></div>
{% endblock extra_body %}
{% block extra_js %}
<script>
    Highcharts.chart('shipping', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Shipping percentage'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.3f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'shipping',
            colorByPoint: true,
            data: {{ zero_shipping_pct | safe}}
        }]
    });
</script>
<script>
	Highcharts.chart('hot-product', {
	    chart: {
	        type: 'bar'
	    },
	    title: {
	        text: 'Hot Products'
	    },
	    subtitle: {
	        text: ''
	    },
	    xAxis: {
	        categories: {{ hot_product.names | safe}},
	        title: {
	            text: null
	        }
	    },
	    yAxis: {
	        min: 0,
	        title: {
	            text: 'Count',
	            align: 'high'
	        },
	        labels: {
	            overflow: 'justify'
	        }
	    },
	    tooltip: {
	        valueSuffix: ' millions'
	    },
	    plotOptions: {
	        bar: {
	            dataLabels: {
	                enabled: true
	            }
	        }
	    },
	    legend: {
	        layout: 'vertical',
	        align: 'right',
	        verticalAlign: 'top',
	        x: -40,
	        y: 80,
	        floating: true,
	        borderWidth: 1,
	        backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
	        shadow: true
	    },
	    credits: {
	        enabled: false
	    },
	    series: [{
	        name: 'Count',
	        data: {{ hot_product.counts | safe}}
	    }]
	});
	</script>
{% endblock extra_js %}
